#preftoc {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}

#preftoc li {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	border-radius: 2px 2px 0 0;
	border: 1px solid #efece2;
	border-bottom: none;
	background: #efece2;
}

#preftoc li.selected {
	background: #fff;
}

.mw-prefs-buttons {
	padding-top: 20px;
}
